<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>차량 목록</title>

    <link rel="icon" th:href="@{/images/computer.png}">
    <link rel="stylesheet" th:href="@{/css/adminlist.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>

<table class="car-List">
    <caption>차량 관리</caption>
    <caption class="search">
        <div>
            <form class="form-inline" th:object="${carSearch}">
                <div>
                    <input class="form-control" placeholder="이름을 입력해주세요." th:field="*{userName}" type="text"/>
                    <button class="btn btn-primary mb-2" type="submit"> 검색</button>
                    <div>&nbsp;</div>
                    <select class="form-control" th:field="*{enrollStatus}">
                        <option value=""> 전체보기</option>
                        <option th:each="status : ${T(com.example.demo.domain.value.EnrollStatus).values()}"
                                th:text="${status}"
                                th:value="${status}">option
                        </option>
                    </select>
                </div>
            </form>
        </div>
    </caption>
    <tr>
        <th>등록 ID</th>
        <th>차주</th>
        <th>차량 번호</th>
        <th>등록 상태</th>
        <th></th>
    </tr>
    <tr style="cursor:pointer;" th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.user.name}"></td>
        <td th:text="${car.car_number}"></td>
        <td th:text="${car.status}"></td>
        <td>
            <a class="w-btn-outline" href="#" th:href="'javascript:cancel('+${car.id}+')'"
               th:if="${car.status.name() == '등록'}">등록 취소</a>
            <a class="w-btn-danger" href="#" th:href="'javascript:register('+${car.id}+')'"
               th:if="${car.status.name() == '미_등록'}">등록</a>
        </td>
    </tr>
</table>
</div>
</body>
<script>
    function cancel(car_id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/car/" + car_id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
<script>
    function register(car_id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/car/" + car_id + "/register");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
