<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>주차장 목록</title>

    <link rel="icon" th:href="@{/images/recoder.png}">
    <link rel="stylesheet" th:href="@{/css/index.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/adminlist.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/Paging.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<table class="college-List">
    <caption>주차장 목록</caption>
    <caption class="search">
        <div>
            <form method="get" th:action="@{/admin/college/list}">
                <label for="addressSearch">주소검색 </label>
                <input id="addressSearch" name="addressSearch" type="text">
                <button type="submit">검색</button>
            </form>

            <button th:onclick="|location.href='@{/admin/college/list}'|">
                전체보기
            </button>
        </div>
    </caption>
    <tr>
        <th>주차장 명</th>
        <th>주소</th>
        <th>운영 가능 (정기권)</th>
        <th>상세 정보 / 수정</th>
        <th>예약 현황</th>
        <th>삭제</th>
    </tr>

    <tr style="cursor:pointer;" th:each="college : ${collegeList}"
        th:if="${college.enabled == true}">
        <td th:text="${college.collegeName}">한신대학교 중앙도서관 주차장</td>
        <td th:text="${college.address}">경기 오산시 한신대133번길 5</td>
        <td th:text="${college.qty}">20</td>
        <td class="btn">
            <button th:onclick="|location.href='@{/admin/college/{collegeId} (collegeId=${college.id})}'|">
                상세 정보 및 수정
            </button>
        </td>
        <td class="btn">
            <button th:onclick="|location.href='@{/admin/college/reserves/{collegeId} (collegeId=${college.id})}'|">
                예약 현황
            </button>
        </td>
        <td>
            <a class="w-btn-outline" href="#" th:href="'javascript:hidden('+${college.id}+')'"
               th:if="${college.enabled == true}">삭제</a>
        </td>
    </tr>
</table>
<!-- 페이징처리 시작 -->
<div class="page_wrap" th:if="${!collegeList.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!collegeList.hasPrevious} ? 'disabled'">
            <a class="page-link"
               th:href="@{|?page=${collegeList.number-1}|}">
                <span><</span>
            </a>
        </li>
        <li class="page-list"
            th:classappend="${page == collegeList.number} ? 'active'"
            th:each="page: ${#numbers.sequence(0, collegeList.totalPages-1)}"
            th:if="${page >= collegeList.number-5 and page <= collegeList.number+5}">
            <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
        </li>
        <li class="page-item" th:classappend="${!collegeList.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${collegeList.number+1}|}">
                <span>></span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->
</body>
<script>
    function hidden(college_id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/college/" + college_id + "/hidden");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>