<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>주차장 등록하기 (관리자)</title>

    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css?ver=1}">
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

    <style>
    .field-error{
      color:red;
      font-weight:bold;
    }
    </style>
    <link rel="icon" th:href="@{/images/computer.png}">
    <link rel="stylesheet" th:href="@{/css/index.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/register.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/navbar.css?ver=1}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<div class="register">
    <h1 class="hR">주차장 등록하기 (관리자)</h1>

    <form method="post" th:action th:object="${collegeRequestDto}">
        <div class="info">
            <label for="collegeName"><b><br/>주차장 명</b></label>
            <input id="collegeName" th:field="*{collegeName}" type="text">
            <div class="field-error" th:errors="*{collegeName}">
            </div>
        </div>

        <div class="info-address">
            <label fdr="address"><b><br/>주차장 주소</b></label>
            <div>
                <input id="address" readonly th:field="*{address}" type="text">
                <input onclick="findAddr()" type="button" value="주소 검색">
            </div>
            <div class="field-error" th:errors="*{address}">
            </div>
        </div>

        <div class="info">
            <label for="detailAddress"><b><br/>상세주소</b></label>
            <input id="detailAddress" th:field="*{detailAddress}" type="text">
            <div class="field-error" th:errors="*{detailAddress}">
            </div>
        </div>

        <div class="info max">
            <b><br/>최대 운영 가능 자리수</b>
            <div>
                <label>정기권</label>
                <input placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{dateAccept}" type="number">
            </div>
            <div class="field-error" th:errors="*{dateAccept}">
            </div>
        </div>

        <div class="info kind">
            <b><br/>주차 구역 / 자리수</b>
            <div>
                <label for="a">장애인 전용 구역</label>
                <input id="a" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{a}" type="number">
            </div>
            <div class="field-error" th:errors="*{a}">
            </div>
            <div>
                <label for="b">전기차 전용 구역</label>
                <input id="b" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{b}" type="number">
            </div>
            <div class="field-error" th:errors="*{b}">
            </div>
            <div>
                <label for="c">경차 전용 구역</label>
                <input id="c" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{c}" type="number">
            </div>
            <div class="field-error" th:errors="*{c}">
            </div>
            <div>
                <label for="d">어르신 우선 구역</label>
                <input id="d" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{d}" type="number">
            </div>
            <div class="field-error" th:errors="*{d}">
            </div>
        </div>

        <div><br/></div>

        <input type="submit" value="등록하기">
        <input th:onclick="|location.href='@{/}'|" type="button" value="취소">
    </form>
</div>

<script th:inline="javascript">
function findAddr(){
new daum.Postcode({
oncomplete: function(data) {

console.log(data);

// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
var roadAddr = data.roadAddress; // 도로명 주소 변수
var jibunAddr = data.jibunAddress; // 지번 주소 변수
// 우편번호와 주소 정보를 해당 필드에 넣는다.

if(roadAddr !== ''){
document.getElementById("address").value = roadAddr;
}
else if(jibunAddr !== ''){
document.getElementById("address").value = jibunAddr;
}
}
}).open();
}
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>