<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>주차장 상세정보</title>

    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css?ver=2}">
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
    <link rel="icon" th:href="@{/images/recoder.png}">
    <link rel="stylesheet" th:href="@{/css/collegeDetail.css?ver=2}">
    <link rel="stylesheet" th:href="@{/css/navbar.css?ver=2}">
    <link rel="stylesheet" th:href="@{/css/index.css?ver=2}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<div class="register">
    <h1 class="hR">주차장 상세 정보 및 수정</h1>

    <form method="post"
          th:action="@{/admin/college/edit/{collegeId} (collegeId=${collegeUpdateDto.id})}"
          th:object="${collegeUpdateDto}">
        <div class="info">
            <label for="collegeName"><b><br/>주차장 명</b></label>
            <input disabled id="collegeName" th:field="*{collegeName}" type="text">
            <div class="field-error" th:errors="*{collegeName}">
            </div>
        </div>

        <div class="info">
            <label fdr="address"><b>주소</b></label>
            <input disabled id="address" th:field="*{address}" type="text">
            <div class="field-error" th:errors="*{address}">
            </div>
        </div>

        <div class="info">
            <label for="detailAddress"><b>상세주소</b></label>
            <input disabled id="detailAddress" th:field="*{detailAddress}" type="text">
            <div class="field-error" th:errors="*{detailAddress}">
            </div>
        </div>

        <div class="info max">
            <b><br/>최대 운영 가능 자리수</b>
            <div>
                <label>정기권</label>
                <input placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{dateAccept}" type="number">
            </div>
            <div class="field-error" th:errors="*{dateAccept}">
            </div>
        </div>

        <div class="info kind">
            <b><br/>주차 구역 / 자리수</b>
            <div>
                <label for="a">장애인 전용 구역</label>
                <input id="a" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{a}" type="number">
            </div>
            <div class="field-error" th:errors="*{a}">
            </div>
            <div>
                <label for="b">전기차 전용 구역</label>
                <input id="b" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{b}" type="number">
            </div>
            <div class="field-error" th:errors="*{b}">
            </div>
            <div>
                <label for="c">경차 전용 구역</label>
                <input id="c" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{c}" type="number">
            </div>
            <div class="field-error" th:errors="*{c}">
            </div>
            <div>
                <label for="d">어르신 우선 구역</label>
                <input id="d" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{d}" type="number">
            </div>
            <div class="field-error" th:errors="*{d}">
            </div>
        </div>

        <div><br/></div>

        <input type="submit" value="수정">
        <input th:onclick="|location.href='@{/admin/college/list}'|" type="button" value="취소">
    </form>
</div>
</body>
</html>