<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>신고 내역</title>

    <link rel="icon" th:href="@{/images/recoder.png}">
    <link rel="stylesheet" th:href="@{/css/index.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/adminlist.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css?ver=1}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>

<table class="report-List">
    <caption>신고 내역</caption>
    <tr>
        <th>신고자</th>
        <th>신고 주차장</th>
        <th>위반 차량</th>
        <th>신고 사유</th>
        <th>신고 일자</th>
        <th>처리 결과</th>
        <th>출동 알림</th>
        <th>확인</th>
    </tr>

    <tr style="cursor:pointer;" th:each="collect : ${collect}"
        th:if="${collect!=null}">
        <td th:text="${collect.user}"></td>
        <td th:text="${collect.college}"></td>
        <td th:text="${collect.carNumber}"></td>
        <td th:text="${collect.cause}"></td>
        <td th:text="${collect.reportDate}"></td>
        <td th:text="${collect.status.getDescription()}"></td>
        <td>
            <a class="w-btn-outline" href="#" th:href="'javascript:notification()'"
               th:if="${#strings.equals(collect.status.getDescription(),'처리 필요')}">🚨</a>
        </td>
        <td>
            <a class="g-btn-outline" href="#" th:href="'javascript:reportControl('+${collect.id}+')'"
               th:if="${#strings.equals(collect.status.getDescription(),'처리 필요')}">확인</a>
        </td>
    </tr>

</table>
</body>

<script>
    function notification() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/send");
        document.body.appendChild(form);
        form.submit();
        setTimeout(function () {
            window.location.href = '/admin/report/list';
        }, 1); // 0.001 후 자바 스크립트 리디렉션
    }
</script>
<script>
    function reportControl(report_id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/report/" + report_id + "/control");
        document.body.appendChild(form);
        form.submit();
    }
</script>

</html>