<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>주차장 목록</title>

    <link rel="icon" th:href="@{/images/computer.png}">
    <link rel="stylesheet" th:href="@{/css/adminlist.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}">

</header>


<table class="college-List">
    <caption>예약 현황</caption>
    <tr>
        <th>주차장</th>
        <th>차량 번호</th>
        <th>예약자</th>
        <th>연락처</th>
        <th>주차 구역</th>
        <th>예약 상태</th>
    </tr>

    <tr style="cursor:pointer;" th:each="reserveCondition : ${reserveConditions}"
        th:if="${reserveConditions!=null}">
        <td th:text="${reserveCondition.collegeName}"></td>
        <td th:text="${reserveCondition.car_number}"></td>
        <td th:text="${reserveCondition.username}"></td>
        <td th:text="${reserveCondition.phon_number}"></td>
        <td th:text="${reserveCondition.parkingName}"></td>
        <td th:text="${reserveCondition.getReserveStatus().name()}"></td>
    </tr>
    <tr th:unless="${reserveConditions!=null}">
        <td colspan="6"> 조회된 예약 없음</td>
    </tr>


</table>
</body>
</html>