<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AdminLoginPage</title>

    <link rel="icon" th:href="@{/images/computer.png}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
    <style>
         .field-error {
         color: #dc3545;
         }
    </style>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<div class="register">
    <h1 class="hR">Admin Login</h1>

    <form method="post" th:action="@{/login}">
        <input id="username" name="username" th:value="${'admin'}" type="hidden">
        <div class="info">
            <label for="password" th:text="${'password'}"></label>
            <input id="password" name="password" placeholder="비밀번호를 입력 해 주세요." type="password">
            <div th:if="${errorMsg!=null}">
                <p class="field-error" th:text="${errorMsg}"></p>
            </div>

        </div>
        <input type="submit" value="Login">
        <input th:onclick="|location.href='@{/}'|" type="button" value="취소">
    </form>
</div>
</body>
</html>