<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>회원가입</title>
  <link rel="icon" href="/images/home.png">
  <link rel="stylesheet" th:href="@{/css/signup.css}">
  <link rel="stylesheet" th:href="@{/css/navBar.css}">
  <style>
        .field-error{
            color:red;
            font-weight:bold;
        }
    </style>
</head>

<body>
<header th:replace="~{fragment/header :: bar}">

</header>

<div class="sign">
  <h1 class="hS">회원가입</h1>

  <form th:action th:object="${userAddFormDto}" method="post">
    <div class="info">
      <label for="email"><b>이메일</b></label>
      <input type="email" th:field="*{email}" id="email" th:readonly="${userAddFormDto.email!=null}">
    </div>

    <div class="info">
      <label for="name"><b>이름</b></label>
      <input type="text" th:field="*{name}" id="name" th:readonly="${userAddFormDto.name!=null}">
    </div>
    <input type="hidden" th:field="*{password}" th:if="${userAddFormDto.password!=null}">

    <div class="info gender">
      <b>성별</b>
      <div th:each="gender : ${genders}" >
          <input type="radio" th:field="*{gender}" th:value="${gender.name()}" >
        <label th:for="${#ids.prev('gender')}" th:text="${gender.description}">
        </label>
      </div>
      <div class="field-error" th:errors="*{gender}">
      </div>
    </div>

    <div class="info birth">
      <label for="age"><b>나이</b></label>
      <div>
        <input type="number" placeholder="나이를 입력하세요." th:field="*{age}" id="age" >
      </div>
      <div class="field-error" th:errors="*{age}">
      </div>
    </div>

    <div class="info-address">
      <label for="address"><b>주소</b></label>
      <div>
        <input type="text" th:field="*{address}" id="address" readonly >
        <input type="button"  onclick="findAddr()" value="주소 검색">
      </div>
      <div class="field-error" th:errors="*{address}">
      </div>
    </div>

    <div class="info">
      <label for="detailAddress"><b>상세주소</b></label>
      <input type="text" th:field="*{detailAddress}" id="detailAddress" >
      <div class="field-error" th:errors="*{detailAddress}">
      </div>
    </div>

    <input type="submit" value="가입하기">
  </form>
</div>

<script th:inline="javascript">
function findAddr(){
new daum.Postcode({
oncomplete: function(data) {

console.log(data);

// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
var roadAddr = data.roadAddress; // 도로명 주소 변수
var jibunAddr = data.jibunAddress; // 지번 주소 변수
// 우편번호와 주소 정보를 해당 필드에 넣는다.

if(roadAddr !== ''){
document.getElementById("address").value = roadAddr;
}
else if(jibunAddr !== ''){
document.getElementById("address").value = jibunAddr;
}
}
}).open();
}
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>