<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>본인인증 및 예약하기</title>
    <link rel="icon" th:href="@{/images/home.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
</head>

<body>
<header th:replace="~{fragment/header :: bar}">

</header>
<div class="frame">
    <!-- 본인 인증 -->
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1>본인인증</h1>

        <!-- sns 연동 -->
        <div class="sns-info">
            계정 연동하기
            <div class="sns">
                <a th:href="@{/oauth2/authorization/google}" data-text="google"><i class="xi-google"></i></a>
                <a th:href="@{/oauth2/authorization/naver}" data-text="naver"><i class="xi-naver"></i></a>
                <a th:href="@{/oauth2/authorization/kakao}" data-text="kakaotalk"><i class="xi-kakaotalk"></i></a>
            </div>
            <a th:href="@{/adminLogin}">Admin Login</a>
        </div>
    </div>

    <!-- 예약하기 -->
    <div sec:authorize="isAuthenticated()" class="init reserve">
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve/colleges}"> 주차장 <span> 예약하기 </span></a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve}">주차장 예약 <span> 조회 / 취소 </span></a>
        <a th:href="@{/admin/college/add}" sec:authorize="hasRole('ROLE_ADMIN')">주차장<span> 등록 </span></a>
        <a th:href="@{/admin/college/list}" sec:authorize="hasRole('ROLE_ADMIN')">주차장<span> 목록 </span></a>

    </div>
</div>
</body>
</html>