<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 인증</title>
    <link rel="icon" th:href="@{/images/computer.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>
<header th:replace="~{fragment/header :: bar}"></header>
<img src="images/home-bg.jpg">
<div class="frame">
    <!-- 본인 인증 -->
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1> 주차 통합 솔루션 </h1>
        <div class="sns-info">
            <div class="sns">
                <div>
                    <a data-text="Login" th:href="@{/adminLogin}"><i class="xi-car"></i></a>
                    <!-- 여기 관리자 로고로 바꾸고 넘겨주면 될듯 -->
                </div>
            </div>
        </div>
    </div>

    <!-- Admin 관리 -->
    <div class="init reserve" sec:authorize="isAuthenticated()">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/car/list}">차량<span> 관리 </span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/collage/add}">주차장<span> 등록 </span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/collage/list}">주차장<span> 목록 </span></a>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>