<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>본인인증 및 예약하기</title>
    <link rel="icon" th:href="@{/images/home.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/adminlist.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
</head>

<body>
<header th:replace="~{fragment/header :: bar}">

</header>
<div class="frame">
    <!-- 본인 인증 -->
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1> 관리자 등록 문의</h1>

        <div class="sns-info">
            <div class="sns">
                <a th:href="@{/}" data-text="google"><i class="xi-google"></i></a>
                <div>
                    <h3> hjw43ok@hs.ac.kr </h3>
                </div>
            </div>
            <a th:href="@{/adminLogin}"><button type="button">Admin Login</button></a>
        </div>
    </div>

    <!-- 예약하기 -->
    <div sec:authorize="isAuthenticated()" class="init reserve">
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve/collages}"> 주차장 <span> 예약하기 </span></a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve}">주차장 예약 <span> 조회 / 취소 </span></a>
        <a th:href="@{/admin/collage/add}" sec:authorize="hasRole('ROLE_ADMIN')">주차장<span> 등록 </span></a>
        <a th:href="@{/admin/collage/list}" sec:authorize="hasRole('ROLE_ADMIN')">주차장<span> 목록 </span></a>

    </div>
</div>
</body>
</html>