<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>해당 ID, 주차 구역 예약 완료</title>
    <link rel="icon" th:href="@{/images/recoder.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/signin.css}">-->
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>

<body>

<header th:fragment="header">
    <div class="logo">
    </div>
    <div class="logout">
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">나가기</a>
    </div>
</header>

<div class="sns">
    <h2 class="sns-info">해당 ID로 주차 구역 예약이 완료되었습니다.</h2>
    <br/><br/><br/>
    <h2 class="sns-info">예약 변경을 원하시는 경우, <br/><br/> 예약 취소를 먼저 진행해주길 바랍니다.</h2>
</div>
<br/><br/><br/>
<img src="/images/cancel.png">
</body>

</html>