<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주차 구역 선택</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-plot-listing.css}">
    <link rel="stylesheet" th:href="@{/css/animated.css}">
    <link rel="stylesheet" th:href="@{/css/owl.css}">
</head>
<body>

<header class="header-area header-sticky wow slideInDown" data-wow-delay="0s" data-wow-duration="0.75s"
        th:insert="fragment/header.html">
</header>

<div class="register">
    <div class="container text-center my-4">
        <br/>
        <h1 class="my-4"><br/><br/>주차 구역 선택</h1><br/>
        <form class="form-control" method="POST" th:action="@{/reserve}">

            <input id="collegeId" name="collegeId" th:value="${collegeId}" type="hidden">

            <div class="form-check form-check-inline" th:each="v : ${parking}">
                <label class="form-check-label" th:for="${v.id}" th:text="${v.parkingName}"></label>
                <input class="form-check-input" name="parkingName" th:id="${v.id}" th:value="${v.parkingName}"
                       type="radio">
            </div>
            <button class="btn btn-primary" type="submit">선택</button>
        </form>
    </div>
</div>
<br/><br/>
<img class="reserveSelectForm" src="/images/parking.jpg">
<br/><br/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about">
                    <div class="logo">
                        <img src="/images/logo.png">
                    </div>
                    <p>ReCoder는 대학 주차 서비스의 문제점을 통합 솔루션으로 제공해 <br/> 해결하고자 하는 사이트입니다. 이용해주셔서 감사합니다.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-us">
                    <h4>Contact Us</h4>
                    <p>hong43ok@gmail.com</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="#">010-7175-3614</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>Copyright © 2022 ReCoder - HongJungWan</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>