<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>예약정보</title>

    <link rel="icon" th:href="@{/images/home.png}">
    <link rel="stylesheet" th:href="@{/css/reserveState.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<header th:replace="~{fragment/header :: header}"></header>

<div class="frame">
    <table class="reserve-info">
        <caption>예약 조회</caption>
        <thead>
        <tr>
            <th>주차장 명</th>
            <th>주차 구역</th>
            <th>예약 상태</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor:pointer;">
            <td th:text="${reserveResult.collegeName}"></td>
            <td th:text="${reserveResult.parkingName}"></td>
            <td th:text="${reserveResult.getReserveStatus().name()}"></td>
            <td class="btn">
                <button th:onclick="|location.href='@{/reserve/{reserveId}/cancel (reserveId=${reserveResult.reserveId})}'|">
                    예약취소
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>