<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주차장 목록</title>

  <link rel="icon" th:href="@{/images/home.png}">
  <link rel="stylesheet" th:href="@{/css/adminlist.css}">
  <link rel="stylesheet" th:href="@{/css/navBar.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">

</head>

<body>
<header th:replace="~{fragment/header :: bar}">

</header>

<table class="collage-List">
  <caption>주차장 목록</caption>
  <caption class="search">
    <div>
      <form method="get" th:action="@{/admin/collage/list}">
        <label for="addressSearch">주소검색 </label>
        <input type="text" id="addressSearch" name="addressSearch">
        <button type="submit">검색</button>
      </form>

      <button th:onclick="|location.href='@{/admin/collage/list}'|">
        전체보기
      </button>
    </div>
  </caption>
  <tr >
    <th>주차장 명</th>
    <th>주소</th>
    <th>미사용 자리</th>
    <th>상세 정보 / 수정</th>
    <th>예약 현황</th>
  </tr>

  <tr th:each="collage : ${collageList}" style="cursor:pointer;" th:if="${collageList.size() > 0}">
    <td th:text="${collage.collageName}">한신대학교 중앙도서관 주차장</td>
    <td th:text="${collage.address}">경기 오산시 한신대133번길 5</td>
    <td th:text="${collage.qty}">20</td>
    <td class="btn">
      <button th:onclick="|location.href='@{/admin/collage/{collageId} (collageId=${collage.id})}'|">
        상세 정보 및 수정
      </button>
    </td>
    <td class="btn">
      <button th:onclick="|location.href='@{/admin/collage/reserves/{collageId} (collageId=${collage.id})}'|">
        예약 현황
      </button>
    </td>
  </tr>
  <tr th:unless="${collageList.size() > 0}">
    <td colspan="5"> 결과 없음</td>
  </tr>
</table>
</body>
</html>