<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주차장 상세정보</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
  <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

  <script>
    $.datepicker.setDefaults({
      dateFormat: 'yy-mm-dd',
      prevText: '이전 달',
      nextText: '다음 달',
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      dayNames: ['일', '월', '화', '수', '목', '금', '토'],
      dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
      dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
      showMonthAfterYear: true,
      yearSuffix: '년'
    });
  </script>

  <script>
    $(function () {
      $("#datepicker1, #datepicker2").datepicker({
        dateFormat: 'yy.mm.dd'
      });
    });
  </script>
  <style>
    .field-error{
      color:red;
      font-weight:bold;
    }
  </style>

  <link rel="icon" th:href="@{/images/home.png}">
  <link rel="stylesheet" th:href="@{/css/collageDetail.css}">
  <link rel="stylesheet" th:href="@{/css/navBar.css}">
</head>

<body>
<header th:replace="~{fragment/header :: bar}">

</header>
<div class="register">
  <h1 class="hR">주차장 상세 정보 및 수정</h1>

  <form th:action="@{/admin/collage/edit/{collageId} (collageId=${collageUpdateDto.id})}" th:object="${collageUpdateDto}" method="post">
    <div class="info">
      <label for="collageName"><b><br/>주차장 명</b></label>
      <input type="text" id="collageName" th:field="*{collageName}" disabled>
      <div class="field-error" th:errors="*{collageName}">
      </div>
    </div>

    <div class="info">
      <label fdr="address"><b><br/>주소</b></label>
      <input type="text" id="address" th:field="*{address}" disabled>
      <div class="field-error" th:errors="*{address}">
      </div>
    </div>

    <div class="info">
      <label for="detailAddress"><b><br/>상세주소</b></label>
      <input type="text" id="detailAddress" th:field="*{detailAddress}" disabled>
      <div class="field-error" th:errors="*{detailAddress}">
      </div>
    </div>

    <div class="info max">
      <b><br/>최대 운영 가능 자리수</b>
      <div>
        <label>정기권</label>
        <input type="number" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{dateAccept}">
      </div>
      <div class="field-error" th:errors="*{dateAccept}">
      </div>
    </div>

    <div class="info kind">
      <b><br/>주차 구역 / 자리수</b>
      <div>
        <label for="a">A 구역</label>
        <input type="number" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{a}" id="a">
      </div>
      <div class="field-error" th:errors="*{a}">
      </div>
      <div>
        <label for="b">B 구역</label>
        <input type="number" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{b}" id="b">
      </div>
      <div class="field-error" th:errors="*{b}">
      </div>
      <div>
        <label for="c">C 구역</label>
        <input type="number" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{c}" id="c">
      </div>
      <div class="field-error" th:errors="*{c}">
      </div>
      <div>
        <label for="d">D 구역</label>
        <input type="number" placeholder="운영 가능한 자릿수를 입력하세요." th:field="*{d}" id="d">
      </div>
      <div class="field-error" th:errors="*{d}">
      </div>
    </div>

    <div><br/></div>

    <input type="submit" value="수정하기">
    <input type="button" th:onclick="|location.href='@{/}'|" value="취소">
  </form>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</body>
</html>