@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* nav */
header {
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #FFFFFF;
    font-size: 30px !important;
}

header .logout a {
    display: inline-block;
    font-family: 'SLEIGothicTTF';
    margin-left: 15px;
}

header .logout a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #222;
    background-image: linear-gradient(60deg, #FFFFFF 0%, #E0FFFF 100%);
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


