<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 및 예약</title>
    <link rel="icon" th:href="@{/images/computer.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/navBar.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>

<div class="frame">
    <!-- 본인 인증 -->
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1> 예약 </h1>

        <div class="sns-info">
            <div class="sns">
                <a data-text="User" th:href="@{/userLogin}"><i class="xi-car"></i></a>
            </div>
        </div>
    </div>
    <img src="images/reserved.png">
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1> 관리자 </h1>

        <div class="sns-info">
            <div class="sns">
                <a data-text="Admin" th:href="@{/adminLogin}"><i class="xi-user"></i></a>
            </div>
        </div>
    </div>

    <!-- Admin 관리 -->
    <div class="init reserve" sec:authorize="isAuthenticated()">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/car/list}">차량<span> 관리 </span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/college/add}">주차장<span> 등록 </span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/college/list}">주차장<span> 목록 </span></a>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>