<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 및 예약</title>
    <link rel="icon" th:href="@{/images/recoder.png}">
    <link rel="stylesheet" th:href="@{/css/index.css?ver=1}">
    <link rel="stylesheet" th:href="@{/css/navbar.css?ver=1}">
</head>
<body>

<header th:replace="~{fragment/header :: header}"></header>

<div class="frame">
    <!-- 본인 인증 -->
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1> 예약 </h1>

        <div class="sns-info">
            <div class="sns">
                <a></a>
                <a data-text="naver" th:href="@{/oauth2/authorization/naver}"><i class="xi-naver"></i></a>
                <a data-text="kakaotalk" th:href="@{/oauth2/authorization/kakao}"><i class="xi-kakaotalk"></i></a>
            </div>
        </div>
    </div>
    <img src="images/recoder2.png">
    <div class="init check" sec:authorize="!isAuthenticated()">
        <h1> 관리자 </h1>

        <div class="sns-info">
            <div class="sns">
                <a data-text="Admin" th:href="@{/adminLogin}"><i class="xi-user"></i></a>
            </div>
        </div>
    </div>

    <!-- Admin & User 관리 -->
    <div class="init reserve" sec:authorize="isAuthenticated()">
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{reserve/colleges}">주차구역 <span>예약</span></a>
        <a sec:authorize="hasRole('ROLE_USER')"></a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/reserve}">예약 주차구역 <span>조회 및 취소</span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/car/list}">차량<span> 관리 </span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/college/add}">주차장<span> 등록 </span></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/college/list}">주차장<span> 목록 </span></a>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
<!-- Channel Plugin Scripts -->
<script>
    (function () {
        var w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function () {
            })('ChannelIO script included twice.');
        }
        var ch = function () {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function (args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;

        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
    })();
    ChannelIO('boot', {
        "pluginKey": "caf27fa8-ae48-4b94-8396-4f7227d2bbf2"
    });
</script>
<!-- End Channel Plugin -->
</html>