@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* nav */
header {
  background-color: #eee;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position:fixed;
  width: 100%;
  top:0;
}
header .logout a {
  display: inline-block;
  font-family: 'SLEIGothicTTF';
  margin-left: 15px;
}
header .logout a:hover {
  text-decoration: underline;
}