<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center my-4">

    <h1>운영가능날짜 선택</h1>
    <form method="GET" th:action="@{/reserve/{param1}/times(param1=${collegeId})}" class="form-control">
        <div class="form-check form-check-inline">
        <select id="date" name="date" class="form-select">
            <option value="">====== 날짜를 선택하세요 ======</option>
            <option th:each="d : ${dates}" th:value="${d.id}" th:text="${d.date}"></option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary mx-2">선택</button>
    </form>
</div>



</body>
</html>