<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center my-4">
<h1 class="my-4">예약가능시간 선택</h1>

<form method="GET" th:action="@{/reserve/{param1}/parking(param1=${collegeId})}" class="form-control">
  <input type="hidden" th:value="${date}" name="date" id="date">

  <div class="form-check form-check-inline">
  <select id="time" name="time" class="form-select">
    <option value="">====== 시간를 선택하세요 ======</option>
    <option th:each="t : ${times}" th:value="${t.id}" th:text="${t.time}"></option>
  </select>
  </div>
  <button type="submit" class="btn btn-primary mx-2">선택</button>
</form>
</div>
</body>
</html>